{{- $d2Code := .Inner -}}
{{- $theme := .Attributes.theme | default "0" -}}
{{- $cleaned := $d2Code | replaceRE "\r\n?" "\n" -}}
{{- $normalizedCode := replace $cleaned "\t" "    " | strings.TrimSpace -}}
{{- $hash := md5 (printf "%s\n|theme=%s" $normalizedCode $theme) -}}
{{- $fileName := printf "diagrams/d2-%s.svg" $hash -}}
{{- $targetPath := printf "static/%s" $fileName -}}
{{- $hasSVG := os.FileExists $targetPath -}}

<div class="d2-wrapper" style="position: relative;">
  {{- if $hasSVG -}}
    <img src="{{ $fileName | relURL }}" alt="D2 Diagram">
  {{- else -}}
    <pre data-d2-missing="true" data-d2-target="{{ $fileName }}" data-d2-hash="{{ $hash }}" data-d2-theme="{{ $theme }}" data-d2-len="{{ len $normalizedCode }}"><code class="language-d2">{{ $d2Code | htmlEscape }}</code></pre>
  {{- end -}}
</div>