{{- $d2Code := .Inner | htmlUnescape -}}
{{- $theme := printf "%v" (.Attributes.theme | default 0) -}}
{{- $cleaned := $d2Code | replaceRE "\r\n?" "\n" -}}
{{- $normalizedTabs := replace $cleaned "\t" "    " -}}
{{- $normalizedCode := $normalizedTabs | replaceRE "\\A(?:[ \t]*\n)+" "" | replaceRE "(?:\n[ \t]*)+\\z" "" -}}
{{- $hashInput := printf "%s|theme=%s" $normalizedCode $theme -}}
{{- if ne $normalizedCode "" -}}
  {{- $hashInput = printf "%s\n|theme=%s" $normalizedCode $theme -}}
{{- end -}}
{{- $hash := md5 $hashInput -}}
{{- $fileName := printf "diagrams/d2-%s.svg" $hash -}}
{{- $targetPath := printf "static/%s" $fileName -}}
{{- $hasSVG := os.FileExists $targetPath -}}

<div class="d2-container" id="d2-{{ $hash }}">
  {{- if $hasSVG -}}
    <div class="d2-controls">
      <button class="d2-btn-zoom-in" title="Zoom In">+</button>
      <button class="d2-btn-zoom-out" title="Zoom Out">-</button>
      <button class="d2-btn-reset" title="Reset">R</button>
      <button class="d2-btn-fullscreen" title="Fullscreen">⤢</button>
    </div>
    <div class="d2-wrapper">
      <img src="{{ $fileName | relURL }}" alt="D2 Diagram">
    </div>
    <div class="watermark-overlay">qtopie.github.io</div>
  {{- else -}}
    <div class="d2-missing-hint">D2 SVG is missing (target: <code>{{ $fileName }}</code>). Run <code>./scripts/generate-d2-diagrams.sh</code> to regenerate diagrams.</div>
    <pre data-d2-missing="true" data-d2-target="{{ $fileName }}" data-d2-hash="{{ $hash }}" data-d2-theme="{{ $theme }}" data-d2-len="{{ len $normalizedCode }}"><code class="language-d2">{{ $d2Code | htmlEscape }}</code></pre>
  {{- end -}}
</div>